.account {
    padding: 0rem 0rem;
 
}
.account1 {
    display: flex;
    align-items: center;
  margin: 4rem 5rem;
  gap: 3rem;
}
.account-left {
    flex: 1;
}
.account-left>img {
    width: 500px;
}
.account-right {
    flex: 1;
}
.account-right>h6 {
    color: hsl(192, 70%, 51%);
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: fit-content;
}
.account-right>p {
    font-size: 1.2rem;
  
    line-height: 2;
    font-weight: 300;
}

/*Account 2 */
.account2 {
    display: flex;
    align-items: center;
  margin: 7rem 5rem;
}
.account2-left {
    flex: 1;
}
.account2-left>h6 {
    color: hsl(192, 70%, 51%);
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: fit-content;
}
.account2-left>p {
    font-size: 1.2rem;
    line-height: 2;
    font-weight: 300;
}
.account2-right {
    flex: 1;
}
.account2-right>img {
    width: 500px;
}

/*Swiper */
.swiper {
    width: 100%;
    padding: 0rem 5rem;
    height: 70%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-button-next::after {
    color: black;
  }
  .swiper-button-prev::after {
    color: black;

  }


  @media screen and (max-width:992px) {
    .account {
        padding: 1rem 0rem;
    }
    .account1 {
        margin: 3rem 3rem 5rem 3rem;
        flex-direction: column;
    }
    .account-left>img {
        width: 370px;
    }
   .account2 {
    margin: 3rem 3rem 5rem 3rem;
    flex-direction: column-reverse;
   }
   .account2-right>img {
    width: 370px;
   }
   .account2-left>h6 {
    margin-top: 2rem;
   }
  }